# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
*.log

# Environment variables
.env
.env.*
!.env.example

# Editor
.DS_Store
.vscode
*.swp
*.swo

# Build artifacts
coverage
